body {
	margin: 30px 120px;
	font-family: 'Karla', sans-serif;
}

footer {
	margin-top: 120px;
	margin-bottom: 70px;
}

p {
	font-size: 16px;
}

.nav {
	float: right;

}

.nav a {
	padding: 14px;
}

#name {
	font-size: 50px;
}

.intro {
	margin: 100px 0px;
	width: 60%;
}

#greeting {
	font-size: 40px;
}

i .em {
	height: 10px;
}

.section {
	margin: 70px 0px;
}

.section h2 {
	font-size: 16px;
	font-weight: bold;
	color: #066BFD;
}

.links {
	text-align: center;
}

.social-link {
	text-decoration: none;
}

.social-link img {
	height: 30px;
	width: 30px;
	padding: 0px 10px;
}

a {
	text-decoration: none;
	color: #066BFD;
}