/*General*/

* {
	font-family: 'Karla', sans-serif;
	font-size: 16px;
}

footer {
	margin-top: 10vw;
	margin-bottom: 5vw;
}

.container {
	font-family: 'Karla', sans-serif;
	margin: 3vw 6vw;
}


/*Navigation*/

.navbar {
	float: right;
}

.navbar a {
	padding: 0px 14px;
}


/*Intro*/

.intro {
	margin: 10vw 0vw;
	width: 60%;
}

.intro p {
	margin: 2vw 0vw;
}

#greeting {
	font-size: 34px;
}

#greeting b {
	font-size: 34px;
}

i .em {
	height: 10px;
}


/*Content*/

.section {
	margin: 80px 0px;
}

.section h2 {
	font-weight: bold;
	font-size: 22px;
	color: #066BFD;
	margin-bottom: 30px;
}


/*Skills*/

.skills .skill-type {
	font-weight: bold;
}


/*Education*/

.education .right {
	text-align: right;
	float: right;
	overflow: hidden;
}

.logo {
	height: 60px;
	width: 60px;
	float: left;
	margin-right: 20px;
}


/*Social links*/

.links {
	text-align: center;
}

.social-link {
	text-decoration: none;
}

.social-link img {
	height: 30px;
	width: 30px;
	margin: 0px 5px;
}

a {
	text-decoration: none;
	color: #066BFD;
}